extends layout

block content
  h1 Обратная связь
  p Контакты
    a.button(href="mailto:harpagonzp@gmail.com", target="_blank") e-mail
    a.button(href="http://vk.com/harpagon", target="_blank") VKontakte
    a.button(href="http://facebook.com/harpagonzp", target="_blank") Facebook
    a.button(href="http://twitter.com/harpagon1", target="_blank") twitter
  //- form( method="POST", action="/")
  a.button( href="/" ) Вренуться на главную