extends layout

block content
  h1 Главная
  p Сделай свой выбор.
  a.button(href="/about")
    span Что это?
  //- form( method="POST", action="/about")
  //-   button(type="submit") Что это?
  //- form( method="POST", action="/contacts")
  //-   button(type="submit") Обратная связь
  a.button(href="/contacts")
    span Обратная связь
  br
  br
  p Вы можете воспользоваться текстовым вводом:
    | (предпочтительней для мобильных устройств)
  a.button(href="/text")
    span Ввод в текстовом виде
  //- h1= title
  //- p Welcome to #{title}

  p Либо пошаговым конструктором:
  if (razdels!==undefined)
      each val, index in razdels
        a.button(href="/solve?razd=#{val['ID']}")
          span #{val['Name']}