body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2D0248;
  color: white;
}

a {
  color: #00B7FF;
}

.separator
{
	margin-top: 30px !important;
}

button
{
	width: 100%;
	background-color: #00B7FF;
	border: 1px solid #00B7FF;
	cursor: pointer;
	color: white;
	min-height: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	line-height: 32px;
}

button:hover
{
	background-color: #5BD1FF;
	border: 1px solid #5BD1FF;
}

a.button
{
	display: inline-table; 
	vertical-align:middle; 
	text-align:center;
	width: 100%;
	background-color: #00B7FF;
	border: 1px solid #00B7FF;
	cursor: pointer;
	color: white;
	min-height: 32px;
	/*margin-top: 10px;*/
	margin-bottom: 10px;
	/*padding: 10px;*/
	text-decoration: none;
	/*line-height: 32px;*/
}

a.button:hover
{
	background-color: #5BD1FF;
	border: 1px solid #5BD1FF;
}

a.can_find
{
	display: inline-table; 
	vertical-align:middle; 
	text-align:center;
	width: 45%;
	background-color: #8000FF;
	border: 1px solid #8000FF;
	cursor: pointer;
	color: white;
	min-height: 32px;
	margin-left: 5px;
	margin-bottom: 5px;
	/*padding: 10px;*/
	text-decoration: none;
	/*line-height: 32px;*/
}

a.can_find:hover
{
	background-color: #A953FF;
	border: 1px solid #A953FF;
}

a.to_find
{
	display: inline-table; 
	vertical-align:middle; 
	text-align:center;
	width: 45%;
	background-color: #05388D;
	border: 1px solid #05388D;
	cursor: pointer;
	color: white;
	min-height: 32px;
	margin-left: 5px;
	margin-bottom: 5px;
	/*padding: 10px;*/
	text-decoration: none;
	/*line-height: 32px;*/
}

a.to_find:hover
{
	background-color: #2172F8;
	border: 1px solid #2172F8;
}

a span{
	display:table-cell;
	vertical-align: middle;
	min-height: 32px;
}

hr{
	background-color: #7300E6;
	color: #7300E6;
	height: 0.1px;
}

ul
{
	margin: 0;
	padding: 0;
}

.kv_to_add
{
	display: inline-block;
	width: 100%;
	min-height: 32px;
	vertical-align: middle;
	list-style: none;
	margin: 0;
	padding: 0;
	
	background-color: #8000FF;
	margin-bottom: 5px;
	text-align: center;
}

.kv_to_add:hover
{
	background-color: #A953FF;
}

.kv_value
{
	display: inline-table;
	position: relative;
	width: 20%;
	
	vertical-align: middle;
	text-align:right;
	
}
.kv_value input
{
	display: table-cell;
	border:1px solid #4B0097;
	background-color: #CA95FF;
	right: 5px;
	width: 100%;
}

.kv_name
{
	width: 70%;
	display: inline-table;
	position: relative;
	vertical-align: middle;
	/*text-align: center;*/
	min-height: 32px;
	clear: left;
	color:white;
	text-decoration: none;
}

.know_value
{
	display: inline-block;
	width: 100%;
	min-height: 32px;
	vertical-align: middle;
	list-style: none;
	/*margin: 0;
	padding: 0;*/
	
	background-color: #05388D;
	margin-bottom: 5px;
	text-align: left;

}

.know_value:hover
{
	background-color: #2172F8;
}

.know_value .kv_name
{
	width: 10%;
	display: inline-table;
	position: relative;
	vertical-align: middle;
	text-align: left;
	min-height: 32px;
	clear: left;
	color:white;
	text-decoration: none;
	margin-left: 5px;
}

.know_value .kv_value
{
	display: inline-table;
	position: relative;
	width: 20%;
	
	vertical-align: middle;
	text-align:left;
	
}
.know_value .kv_value input
{
	display: table-cell;
	border:1px solid #032867;
	background-color: #ADCBFC;
	right: 5px;
	width: 100%;
}

.controls
{
	display: inline-block;
	text-align: right;
	position: relative;
	width: 65%;
}

.change, .delete
{
	width: 10%;
	display: inline-table;
	position: relative;
	vertical-align: middle;
	text-align: right;
	min-height: 32px;
	/*clear: left;*/
	color:white;
	text-decoration: none;
	margin-left: 5px;
}

.change:hover
{
	background-color: #428703;
}

.delete:hover
{
	background-color: #A40004;
}

.know_value a span
{
	display:table-cell;
	vertical-align: middle;
	min-height: 32px;
	text-align: right;
}

.solvetion
{
	/*margin: 5px;*/
	background-color: #D6C47A;
	color: black;
}

.solvetion p
{
	margin-left: 5px;
	margin-right: 5px;
}

.addVars p
{
	margin-bottom: 0;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.addVars p:hover
{
	color: #CA5109;
}

p select
{
	display: inline-block;
	right: 0;
	position: relative;
	border: 1px solid #00B7FF;
	width:100%;
	background-color: #CAF0FF;
	/*text-align: right;*/
}

textarea{
	border: 1px solid #00B7FF;
	background-color: #CAF0FF;
	resize: vertical;
}

.solv
{
	margin: 0;
	line-height: auto;
}

.show-hide{
	color: #00B7FF;
	cursor: pointer;
}
.show-hide:hover
{
	color:#8CDFFF;
	border-bottom: 1px dashed #8CDFFF;
}

.wrapper
{
	top:25%;
	position: relative;
	margin: auto auto;
	display: block;
	max-width: 400px;
	min-width: 200px;
	width: 25%;
	vertical-align: middle;
}

.ffind
{
	display: inline-block;
	max-width: 200px;
	max-height: 50px;
	margin: 10px;
	width: 100px;
	height: 50px;
	border:1px solid black;
	vertical-align: middle;
	cursor: pointer;
}